@if (options) {
<div class="grid-widget">
  <table class="grid-table">
    <thead>
      <tr>
        @for (header of options.headers; track $index) {
        <th (click)="onSortColumn(header.fieldId)">
          {{ header.displayText }}
          @if (isSortColumn(header.fieldId)) {
          <span class="sort-icon">{{ getSortIcon(header.fieldId) }}</span>
          }
        </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of data; track $index) {
      <tr>
        @for (header of options.headers; track $index) {
        <td>
          {{ row[header.fieldId] }}
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
}
